
.main-container{
    margin-top: 5rem;
    

.main-border{
    
    border: 2px solid rgb(166, 161, 161);
    padding: 0.5rem;
    gap: 25px;
    
}

.main-heading{
    
    background-color: rgb(219, 216, 216);
    border: 2px solid rgb(166, 161, 161);
    padding: 1rem;
    margin: auto;
    padding-left: 1rem;
    

}
}